body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
  }
  
  .header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    font-weight: bold;
    background-color: #f0f0f0;
    padding: 10px 0;
  }
  
  .header a {
    color: #333;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .subject {
    width: 85%;
    padding: 25px;
    margin: 5px 0;
    background-color: #e0e0e0;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 15px;
    transition: background-color 0.4s, color 0.4s;
  }
  
  .subject:hover {
    background-color: rgb(65, 65, 65);
    color: #fff;
  }
  