 body{
    font-family: Arial, sans-serif;
    margine: 0;
    padding: 0;
    background-color: white;
 }

 header{
    background-color: #4CAF50;
    color: white;
    padding: 15px 0;
    text-align: center;
 }
  nav ul{
    list-style: none;
    padding: 0;
  }

  nav ul li{
    display: inline;
    margin: 0 15px;
  }

  nav ul li a{
    color: white;
    font-weight: bold;
  }

  #notifications{
    padding: 20px;
    max-width: 800px;
    margin: auto;
  }

  .notification{
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px gray;
  }

  .notification h3{
    color: #333;
  }

  .notification{
    color :#555;
  }

  footer{
    position: relative;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
  }