 body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
  }
  .priv-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    position :sticky;
    top:0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0, 0, 0.1);
  }
  .priv-navbar.fixed{
    transition: all 0.5s ease;
  }
 
  header .priv-navname {
    flex: 1;
    display: flex;
    align-items: center;
  }

header .priv-navbar h2 {
    color: white;
    font-size: 2em;
  }

.priv-navbar ul {
    display: flex;
    flex: 4;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
  } 

.priv-navbar ul li a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
  }

.priv-navbar .priv-signin {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  #notifications{
    padding: 20px;
    max-width: 900px;
    margin: 30px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }
  #notifications h2{
    text-align: center;
    color: #555;
    margin-bottom: 20px;
  }
  .category-title{
    color: #555;
    font-size: 1.5em;
    margin-bottom: 15px;
    border-bottom: 2px solid #555;
    padding-bottom: 5px;
  }

  .notification{
    background-color: white;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    border-left: 5px solid purple;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
  }
  .notification:hover{
    transform: translateY(-3px);
    background-color: rgba(250, 220, 250, 0.667);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  }

  
  .notification h3{
    margin: 0 0 10px;
    color: #333;
  }

  .notification p{
    margin: 0;
    color :#555;
  }
  .full-text {
    display: none;
    margin-top: 10px;
    color: #333;
  }
  .hidden {
    display: none;
  }

  footer{
    position: relative;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
  }