@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
}
body {
    line-height: 1.5;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    height: 200vh;
}

.priv-button {
    background-color: blue;
    color: white;
    border: 2px solid grey;
    width: 120px;
    height: 50px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.priv-button:hover {
    background-color: darkblue;
    transform: scale(1.05);
}

.priv-button:active {
    background-color: navy;
    transform: scale(0.95);
}

.priv-navbar {
    display: flex;
    justify-content: start;
    align-items: center;
    left: 0;
    top: 0;
    height: 90px;
    width: auto;
    padding: 10px 20px;
    background-color: black;
}

.priv-navbar.fixed{
    transition: all 0.5s ease;
}

.fixed {
    top: 0px;
    right: 0;
    left: 0;
    position: fixed;
}

header .priv-navname {
    flex: 1;
    display: flex;
    align-items: center;
}

header .priv-navbar h2 {
    color: white;
    font-size: 2em;
}

.priv-navbar ul {
    display: flex;
    flex: 4;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
} 

.priv-navbar ul li a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.priv-navbar .priv-signin {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.subject-container {
    display: flex;
    height: auto; 
    overflow-x: auto; 
    white-space: nowrap; 
    scroll-behavior: smooth; 
    background-color: #fff;
    border: 2px solid #ddd;

}

.subject-container {
    height: 50px;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    -webkit-scrollbar: none;
}

.subject-container .subject {
    padding: 10px;
    min-width: 140px;
    width: auto;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.subject:hover {
    transform: scale(1.01);
    background-color: rgb(65, 65, 65);
}

