@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
}
body {
    line-height: 1.5;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;

}

.login-logo {
    margin-right: 5%;
    color: white;
    font-size: 2.7rem;
    cursor: pointer;
    transition: transform 0.2s;
}

.login-logo:hover {
    transform: scale(1.01);
}

.login-logo:active {
    transform: scale(0.95);
}

.priv-navbar {
    display: flex;
    justify-content: start;
    align-items: center;
    left: 0;
    top: 0;
    height: 90px;
    width: auto;
    padding: 10px 20px;
    background-color: black;
}

.priv-navbar.fixed{
    transition: all 0.5s ease;
}

.fixed {
    top: 0px;
    right: 0;
    left: 0;
    position: fixed;
}

header .priv-navname {
    flex: 1;
    display: flex;
    align-items: center;
}

header .priv-navbar h2 {
    color: white;
    font-size: 2em;
}

.priv-navbar ul {
    display: flex;
    flex: 4;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
} 

.priv-navbar ul li a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.priv-navbar .priv-signin {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.priv-signin i {
    color: lightblue;
}

.main-page{
    height: 100vh;
    background: linear-gradient(135deg, purple, black);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.main-page .heading {
    position: absolute;
    top: 20%;
    letter-spacing: 1.5px;
    font-size: 3rem;
}

.main-container {
    position: absolute;
    bottom: 20%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.awards-box {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px;
    height: 250px;
    width: 270px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.awards-box:hover {
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.awards-box i {
    margin-top: 30px;
    font-size: 3rem;
    color: gold;
    margin-bottom: 10px;
}

.awards-box h3 {
    font-size: 2rem;
    margin: 10px 0;
}

.awards-box p {
    font-size: 1.5rem;
    opacity: 0.7;
}


@media (max-width:480px){
    .awards-box {
        width: 100%;
    }
}